.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  cursor: pointer;


  &--orange {
    background-color: $mainOrange;
  }

  &--purple {
    background-color: $mainPurple;
  }

  &--margin-right-atMediumLarge {
  
    @mixin atMediumLarge {
      margin-right: 10px;
    }
  }

  &--nav {
    width: 150px;
    @mixin atLarge {
      width: auto;
    }

  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}