.feature-item {
  position: relative;
  margin-bottom: 5.5rem;
  padding-bottom: 5.5rem;

  @mixin atSmall {
    padding-left: 94px;
    padding-bottom: 2.5rem;
    margin-bottom: 0;
  }

  @mixin atLarge {
    padding-bottom: 0rem;
    min-height: 350px;
  }


  &__icon {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.22,0.22);
    
    @mixin atSmall {
      display: block;
      margin: 0 auto;
      transform: scale(0.15, 0.15);
      transform-origin: 0% 0%;
      top: 0;
      left: 0;
    }
  }

  &__text {
    position: relative;
    top: 150px;
    @mixin atSmall {
      top: 0px;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;
    @mixin atSmall {
      text-align: left;
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }
}